/*
*Page standards styling
*/
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
h1 {
  margin: 0;
  font-family: 'Share', cursive;
  font-size: 34px;
}
h2 {
  margin: 0;
  font-family: 'Share', cursive;
  font-size: 24px;
}
h3 {
  font-size: 16px;
  font-family: 'Share', cursive;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 5px;
}
p {
 margin: 0;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
.content {
  margin-left: 175px;
  padding: 25px;
}
/*
*Authenication pages styling
*/
.auth {
  display: flex;
  justify-content: center;
  background-color: #738580;
  height: 100vh;
  color: white;
  font-family: 'Share', cursive;
}
.auth img {
  margin-top: 10vh;
}
.auth label {
  font-size: 18px;
}
.auth input {
  width: 250px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 3px;
}
.auth div {
  width: 250px;
}
.auth button {
  width: 250px;
  border: none;
  background-color: #C20309;
  color: white;
  font-size: 16px;
  font-family: 'Share', cursive;
  padding: 5px;
  margin-bottom: 10px;
}
.auth a {
  color: white;
}
/*
*Navigation bar styling
*/
aside {
  width: 175px;
  height: 100vh;
  position: fixed;
  background-color: #738580;
}
aside nav ul {
  width: 175px;
  text-align: center;
}
aside nav ul li {
  margin-bottom: 10px;
}
aside nav ul li:hover {
  text-decoration: underline;
  color: white;
}
aside nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Share', cursive;
  font-size: 18px;
}
.bottomNav {
  position: fixed;
  bottom: 0;
}

/*
* Form styling
*/
form {
  width: 90%;
  margin-left: 5%;
  margin-top: 25px;
}
form label {
  font-size: 18px;
  font-family: 'Share', cursive;
}
form input, form select, form textarea {
  width: 100%;
  border: none;
  background-color: #738580;
  color: white;
  font-size: 16px;
  padding: 3px;
  margin-bottom: 10px;
}
form textarea {
  height: 150px;
}
form input[type=submit] {
  width: 20%;
  background-color: #C20309;
  float: right;
  margin-top: 20px;
  font-family: 'Share', cursive;
  padding: 5px;
}
form input[type=submit]:hover {
  text-decoration: underline;
  cursor: pointer;
}
form input[type=checkbox] {
  width: min-content;
}
.checkboxes {
  max-height: 15vh;
  overflow: scroll;
}
.cancelButton {
  border: none;
  background-color: #3E3E3E;
  width: 20%;
  padding: 5px;
  margin-top: 20px;
}
.cancelButton:hover {
  cursor: pointer;
}
.cancelButton:hover a {
  text-decoration: underline;
}
.cancelButton a {
  font-family: 'Share', cursive;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.errorAlert {
  max-width: 60%;
  margin-top: 20px;
  margin-left: 10%;
  background-color: #C20309;
  color: white;
  padding: 10px;
  font-weight: bold;
}
.errorAlert ul {
  margin: 0;
}

/*
* table styling
*/
.halfTable {
  width: 45%;
  float: left;
  margin: 20px 2.5%;
  max-height: 50vh;
  overflow: scroll;
}
.fullTable {
  width: 95%;
  margin: 20px 2.5%;
}
table {
  border-collapse: collapse;
}
table tr th {
  background-color: #3E3E3E;
  color: white;
  font-family: 'Share', cursive;
}
table tr th h2 {
  float: left;
  margin: 8px 12px;
}
table tr td a {
  color: white;
  text-decoration: none;
}
table tr td a:hover {
  text-decoration: underline;
}
table tr th button {
  float: right;
  background-color: #C4C4C4;
  border: none;
  padding: 4px 10px;
  margin: 6px;
}
table tr th button a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
table tr td.title, .fullTable tr td {
  background-color: #738580;
  color: white;
  padding: 5px;
  font-weight: bold;
  border-top: 3px solid #3E3E3E;
}
table tr td.title i, .fullTable tr td i{
  float: right;
  margin-right: 5px;
}

table tr td {
  background-color: #C4C4C4;
}
table tr td p {
  margin: 5px;
}
table td.completed {
  text-align: right;
}
/*
* additional styling
*/

.details {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
